<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading">
    <div class="post-wrapper p-3 mb-3" *ngFor="let post of posts">
        <div>
            <div>
                <div>
                    <a href="#">
                        <img src="" alt="">
                    </a>
                </div>
                <h4>
                    {{ post.title }}
                </h4>
            </div>
        </div>
        <div class="pb-3">
            {{ post.body }}
        </div>
        <div>
            <img class="img-fluid" src="https://picsum.photos/500/300?random={{ post.id }}" alt="">
        </div>
    </div>
</div>